.projects {
}
.projects__inner {
    display: flex;
    column-gap: 30px;
}
.projects__image {
    position: relative;
    padding-left: 80px;
    padding-right: 50px;
}
.projects__image::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 90%;
    width: 100vw;
    background-color: var(--primary-color-dark);
    clip-path: polygon(0 0, calc(100% - 10rem) 0%, 100% 100%, 0% 100%);
}
.projects__image img{
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.projects__content {
}
.projects__title{
        font-size: 45px;
        color: var(--white);
        font-weight: 600;
        font-family: var(--header-font);
        max-width: 600px;
        width: 100%;
        margin-bottom: 25px;
        line-height: 1.3;
}
.projects__title span{
    color: var(--primary-color-dark);
}
.projects__text {
    color: var(--text-light);
    font-size: 18px;
    line-height: 1.6;
    max-width: 650px;
    width: 100%;
    margin-bottom: 30px;
}
.projects__details {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.projects__details-item {
    display: flex;
    align-items: center;
    column-gap: 20px;
    border: 2px solid var(--text-light);
    padding: 15px 20px;
    border-radius: 20px;
    background: var(--gradient-2);
    transition: background .4s ease;
    &:hover{
        background: var(--gradient-1);
        .projects__details-text{
            color: var(--text-dark);
        }
        .projects-icon{
            background-color: var(--text-dark);
            color: var(--primary-color-dark);
        }
    }
}
.projects-icon{
    background-color: var(--primary-color-dark);
    padding: 5px;
    border-radius: 5px;
    color: var(--text-dark);
    font-size: 25px;
    transition: .3s ease;
}
.projects__details-text{
    color: var(--text-light);
    font-size: 18px;
}

@media (max-width: 1200px){
    .projects__inner {
        flex-direction: column-reverse;
        row-gap: 30px;
        justify-content: center;
    }
}
@media (max-width: 350px){
    .projects__title{
       font-size: 30px;
    }
}
