.resurces {
    padding-top: 150px;
    overflow: hidden;
}
.resurces__inner {
    display: flex;
    column-gap: 30px;
}
.resurces__image {
    background: var(--gradient-2);
    border-radius: 20px;
    border: 2px solid var( --text-light);
    padding: 0 100px;
}
.resurces__img {
    max-height: 450px;
    height: 100%;
    object-fit: cover;
}
.resurces__content {
}
.resurces__title{
    font-size: 45px;
    color: var(--white);
    font-weight: 600;
    font-family: var(--header-font);
    max-width: 600px;
    width: 100%;
    margin-bottom: 25px;
    line-height: 1.2;
    margin-bottom: 20px;
}
.resurces__title span{
    color: var(--primary-color-dark);
}
.resurces__text {
    color: var(--text-light);
    font-size: 18px;
    line-height: 1.6;
    max-width: 650px;
    width: 100%;
    margin-bottom: 30px;
}
.recurces__slider {
    width: 550px;
}
.swiper {
    width: 550px;
}
.swiper-wrapper { 
    padding-bottom: 30px;
}
.swiper-slide {
    background: var(--gradient-2);
    border-radius: 15px;
    border: 2px solid var(--text-light);
    padding: 30px 25px;
    max-width: 550px;
}
.swiper-slide__text {
    color: var(--text-light);
    line-height: 1.7;
    font-size: 16px;
    max-width: 500px;
    width: 100%;
    margin-bottom: 20px;
}
.swiper-slide__details {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.swiper-slide__name {
    color: var(--primary-color-dark);
    font-size: 20px;
    font-weight: 600;
}
.swiper-slide__scils {
    color: var(--text-light);
}
.swiper-pagination {
}
.swiper-pagination-bullet{
   background-color: var(--primary-color-dark);
}

@media (max-width: 1150px){
    .resurces {
        padding-top: 80px;
    }
    .resurces__inner{
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 50px;
    }
    .resurces__content-top{
        text-align: center;
    }
    .recurces__slider {
        width: 600px;
    }
}
@media (max-width: 640px){
    .resurces__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .recurces__slider {
        width: 300px;
    }
    .swiper{
        width: 300px;
    }
    .resurces__img{
        width: 100%;
        height: 100%;
    }
}